# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
.github/CODEOWNERS @SonarSource/platform-front-end-eng-squad
private/libs/feature-sca @SonarSource/security-sca-squad
