# Add files here to ignore them from prettier formatting
**/dist
**/public
**/static
**/build
**/coverage
**/node_modules
**/.cirrus/*.json
**/.yarn
.github
.vscode
.nx/cache
.nx/workspace-data
private/libs/feature-architecture/src/types/proto/generated
private/sq-cloud-e2e-tests/playwright-report
