# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

excludes=**/*it-* **/*test*
fileSystemScan=False
resolveAllDependencies=False

gradle.resolveDependencies=True
gradle.aggregateModules=True
gradle.preferredEnvironment=wrapper
gradle.innerModulesAsDependencies=True
gradle.ignoredConfigurations=.*it.*
gradle.excludeModules=.*it.*

npm.includeDevDependencies=False
npm.resolveDependencies=True
npm.resolveLockFile=False
npm.runPreStep=False
npm.yarnProject=True

python.resolveDependencies = true
python.runPipenvPreStep=true
python.IgnorePipenvInstallErrors=false
python.pipenvDevDependencies=true
python.includePipenvDevDependencies=true

case.sensitive.glob=false
archiveIncludes=**/*.jar

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
# SC-9745: Remove the build failure in the context of the reporting bug. Once solved this could be put back.
forceUpdate.failBuildOnPolicyViolation=false
